// FONTS
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// GENERAL

$color_secondary: #4cb152;
$color_background: #000;
$color_background_light: rgb(15, 15, 15);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  background: #000;
  color: #fff;
  overflow-x: hidden;

  a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease-in-out;

    &:hover {
      color: $color_secondary;
    }
  }
}

h2,
h3,
h4 {
  font-family: "Abel", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
  padding: 2rem;
}

section {
  min-height: 100vh;
  background-color: black;
}

.container {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  position: relative;
}

.separator {
  width: 100vw;
  height: 20rem;
  background-color: $color_secondary;
}

// NAVBAR
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  padding: 2rem 0;
  box-sizing: border-box;

  z-index: 3;
  width: 100%;
}

.social-nav {
  justify-self: end;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 40%;

  li {
    list-style: none;
  }

  &.list-nav {
    flex-direction: column;
  }
}

.site-nav {
  font-family: "Abel", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 60%;

  li {
    list-style: none;
  }

  &.list-nav {
    flex-direction: column;
  }
}

// HERO
.hero-section {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  // Black fade top
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 200px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
  }

  // Black fade bottom
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6222689759497548) 43%, rgba(0, 0, 0, 0) 74%);
    z-index: 2;
  }
}

.showcase {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .hero-image {
    background-image: url("/images/Background.jpg");
    background-position: center;
    background-size: cover;
    width: inherit;
    height: inherit;
  }
}

.logo {
  margin-bottom: 3rem;
  transform: scale(0.8);
  z-index: 3;
}

.button {
  color: #fff;
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  background: none;
  border: 3px solid #fff;
  text-align: center;
  padding: 1em 2em;
  transition: 0.2s ease-in-out;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 3;

  i {
    padding-right: 10px;
  }

  &:hover {
    background-color: $color_secondary;
    border-color: $color_secondary;
    color: #fff;
  }
}

// MUSIC
.releases {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  //justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.release {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  iframe {
    margin-bottom: 1rem;
  }
}

.cover-image {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;

  img {
    width: inherit;
    height: inherit;
    transition: 0.5s ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

// ABOUT
.about-section {
  background: $color_background_light;
}

.members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 3rem;
  margin-top: 4rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.bio {
  margin-bottom: 8rem;
}

@media (max-width: 1400px) {
  .members {
    grid-template-columns: repeat(auto-fill, 200px);
  }
}

// CONTACT
.form-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin-top: 1rem;
    max-width: 33%;
  }
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: "Abel", sans-serif;
    text-transform: uppercase;
  }

  input,
  textarea,
  select {
    padding: 1rem;
    font-size: 18px;
  }

  textarea {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
}

.input-group-name {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .input {
    width: calc(50% - 0.5rem);
  }
}

.validation {
  padding: 0.5rem 0;
  font-size: 0.75rem;
}

.validation-invalid {
  color: red;

  &::before {
    //color: red;
    //position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f057";
    padding-right: 0.25rem;
    //position: absolute;
    //top: 25px;
    //right: 0;
  }

  &.validation-first-name::after {
    content: "Please enter your first name.";
  }

  &.validation-last-name::after {
    content: "Please enter your last name.";
  }

  &.validation-email::after {
    content: "Please enter a valid email address.";
  }

  &.validation-message::after {
    content: "Please enter a message.";
  }
}

.validation-valid {
  color: green;

  &::before {
    //color: red;
    //position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f058";
    padding-right: 0.25rem;
    //position: absolute;
    //top: 0;
    //right: 0;
  }
}

.contact-text {
  padding: 2rem 0;
}

// FOOTER

.footer {
  background: $color_background_light;
  padding: 3rem 0 1rem 0;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .social-nav {
      max-width: 20%;
    }

    .credits {
      font-size: 0.75rem;
      opacity: 0.75;
      margin-top: 2rem;
      text-align: center;

      p {
        margin-top: 0.5rem;

        em {
          font-style: normal;
          font-weight: bold;
        }
      }
    }
  }
}
