// FONTS
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// GENERAL
@import "variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease-in-out;

  &:hover {
    color: $color_green;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

button {
  border: none;
}

h2,
h3,
h4 {
  font-family: "Abel", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;

  background-color: $color_background;
}

.section-header {
  //border-top: 2px solid $color_green;
  //border-bottom: 2px solid $color_green;

  &::after {
    content: "";
    width: 100%;
    border-bottom: 2px solid $color_green;
  }
}

.container {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  position: relative;
}

.section-text {
  padding: 2rem 0;
}

.header-section {
  height: 80vh;
}

.button {
  background-color: $color_green;
  color: white;
  display: inline-block;
  padding: 1em 2em;
  //margin: 0 0.3em 0.3em 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Abel", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 3;

  i {
    padding-right: 10px;
  }

  &:hover {
    //background-color: $color_green;
    //border-color: $color_green;
    color: #fff;
    filter: brightness(1.15);
  }
}

// TABLETS

// PHONES
@media (max-width: 480px) {
  .button {
    min-width: 100%;
  }
}
