/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

:root {
	--wtcf-gradient: linear-gradient(
		90deg,
		rgba(65, 40, 74, 1) 0%,
		rgba(162, 49, 90, 1) 50%,
		rgba(255, 158, 70, 1) 100%
	);
	--background-color: #0f0f0f;
}

html {
	font-size: 16px;
	font-family: 'SUSE', sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	background-color: var(--background-color);
	color: #fff;
}

.righteous-regular {
	font-family: 'Righteous', sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Righteous', sans-serif;
	margin: 0;
}

a {
	color: inherit;
}
